body{
        background-color:#FFFF99;
      }
      
      input {
        border: 1px gray solid;
        font-size: 16pt;
      }
      select {
        font-size: 16pt;
      }
      textarea {
        border: 1px gray solid;
        font-size: 16pt;
        width: 500px;
      }
      table {
        border-collapse: collapse;
      }
      td {
        border: 1px solid gray;
        padding: 5px;
      }
      th {
        border: 1px solid gray;
      }
      body {
        font-size: 14pt;
      }